@import "reset";
@import "ember-power-select";
@import "variables";
@import "transactions";
@import "add-transactions";
@import "line-chart";

html {
    max-width: 100%;
}

body {
    font-family: Helvetica;
    font-size: 16px;
    background: #eee;
}

header {
    background: $primary-dark;
    padding: 20px 0 0 0;

    h1 {
        background: $primary;
        color: $text-color;
        font-size: 32px;
        font-weight: 500;
        padding: 20px 10px;
        text-transform: uppercase;
    }
}

@mixin button() {
    background: $primary;
    box-shadow: 2px 2px 2px 0px #00000052;
    color: $text-color;
    cursor: pointer;
    padding: 10px 20px;
    text-transform: uppercase;
}

.action-button {
    @include button();
    min-width: 120px;

    &.cancel {
        background: #de6446;
        margin-left: 10px;
    }

    &.add-transaction {
        margin: 10px;
    }
}
